<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>{{ site.title }}</title>

		<meta name="description" content="{{ site.description }}">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<link rel="stylesheet" href="/assets/css/style.css">
		<link rel="stylesheet" href="/assets/css/media.css">

		<!--[if lt IE 9]>
			<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
	</head>

	<body>
	<div class="topbar">
 	</div>
 	<div class="container">
		<div class="row">
			<header class="col-lg-8 col-lg-offset-2">
				<h1>120 Free Icons designed with balanced interfaces in mind.</h1>
				<p>I wanted something small (16x16), that was symmetrical, and would balance well in both vertical and horizontal lists.</p>
			</header>
		</div>
