/*

FILE NAME: style.css
DESCRIPTION: .com
VERSION: 1.0
AUTHOR: Paul Mackenzie
AUTHOR URI: http://www.whatspauldoing.com

/* Style.less */

@import url('bootstrap.min.css');

@mixin border-radius ($radius) {-moz-border-radius:$radius;-webkit-border-radius:$radius;border-radius:$radius;}
@mixin text-shadow {text-shadow:0 1px 2px rgba(0,0,0,.50);}
@mixin box-border {-moz-box-sizing:border-box;webkit-box-sizing:border-box;box-sizing:border-box;}
@mixin shadow ($x, $y, $b, $color) {-moz-box-shadow: $x $y $b $color;-webkit-box-shadow: $x $y $b $color;box-shadow: $x $y $b $color;}
@mixin border ($width: 1px 1px 1px 1px, $color: #F1F1F1) {border-width:$width;border-style:solid;border-color:$color;}
@mixin columns ($number, $width, $gap) {-webkit-columns:$number $width;-moz-columns:$number $width;columns:$number $width;-webkit-column-gap:$gap;-moz-column-gap:$gap;column-gap:$gap;}
@mixin casefont($font-size:12px) {font-size:$font-size;text-transform:uppercase;}
@mixin ninja {display:none;}
@mixin clearfix {overflow:auto;}

$headerfont : 'Libre Baskerville', Serif;
$bodyfont : 'Proxima Nova', Sans-Serif;
$headercolor : #2D3142;
$bodycolor : lighten($headercolor, 20%);
$highlightcolor : #F06543;
$backgroundcolor : #FFFFFF;

// Body Colors

body {font-family:$bodyfont;color:$bodycolor;background:$backgroundcolor;}
h1, h2, h3, h4 {font-family:$headerfont;color:$headercolor;font-weight:normal;}
h1, h2, h3 {}
h1 {font-size:48px;line-height:68px;margin:45px 0;}
h2 {font-size:36px;line-height:58px;margin:0 0 60px 0;}
h3 {font-size:32px;line-height:28px;margin:0 0 30px 0;}
h4 {font-size:16px;line-height:28px;margin:0 0 10px 0;}
p {font-size: 16px;line-height:25px;margin:0 0 25px 0;color:$bodycolor;
	span {color:$highlightcolor;}
}
a {color:$highlightcolor;
	&:hover {color:$highlightcolor;}
}

.btn {@include casefont(14px);@include border-radius(3px);padding:6px 15px;letter-spacing:0.5px;
	.icon {display:inline-block;position:relative;top:3px;margin:0 15px 0 0;}
	&.btn-primary {background:$highlightcolor;border:1px solid $highlightcolor;
		&:hover {background:#FFFFFF;@include border(1px, $highlightcolor);color:$highlightcolor;
			svg {fill:$highlightcolor;}
		}
		svg {fill:#FFFFFF;}
	}
	&.btn-outline-primary {@include border(1px, $highlightcolor);color:$highlightcolor;
		&:hover {background:#FFFFFF;color:$bodycolor;@include border(1px, $bodycolor);
			svg {fill:$bodycolor;}
		}
		svg {fill:$highlightcolor;}
	}
	&.btn-link {color:$highlightcolor;font-weight:bold;
		&:hover {color:$bodycolor;text-decoration:none;
			svg {fill:$bodycolor;}
		}
		svg {fill:$highlightcolor;}
	}
}

.icon {width:16px;height:16px;display:block;}

.navbar {background:#FFFFFF;padding:15px;
	.navbar-brand {@include casefont(16px);font-weight:bold;
		span {color:$bodycolor;}
		&:hover {color:$bodycolor;
			span {color:$highlightcolor;}
		}
	}
	form {margin:0;}
	.btn-link {padding-right:0;}
}

.content {margin:55px 0 0 0;}

.icon-list {margin:35px 0;
	.icon-container {padding:10px;margin:0 0 50px 0;
		&:hover {background:lighten($bodycolor, 55%);@include border-radius(3px);}
		svg {margin:0 0 5px 0;}
		span {display:block;@include casefont(12px);}
	}
}

.features {margin:45px 0 0 0;
	h4 {font-weight:bold;}
	svg {fill:$highlightcolor;margin:0 0 15px 0;}
	p {font-size:14px;}
}

footer {font-size:12px;line-height:20px;text-align:center;margin:0 0 25px 0;
	.icon {margin:45px auto 35px auto;opacity:0.5;}
}
