{% include header.html %}
  <div class="content">
    <div class="row">
			<header class="col-lg-8 offset-lg-2 text-center">
        {% for item in site.hero %}
          <h1>{{ item.title }}</h1>
          <div class="col-lg-10 offset-lg-1">
            {{ item.content }}
          </div>
        {% endfor %}
        <a class="btn btn-primary" href="#" role="button"><span class="icon download-icon"></span>Download</a>
      </header>
		</div>
  </div> <!-- CONTENT END -->
{% include footer.html %}
